.vendor_no{
    font-size: 20px;
}
.sapUiSmallMargin {
    margin: 10px 0;
}
.statusText{
    font-weight: bold;
}
.h_text{
    font-size: 25px;
}
.classTable{
    cursor: pointer;
}
.unauthorisedText{
    font-size: 45px; 
}

.unauthorisedicon .sapMImageContentImageIcon.sapUiIcon {
    font-size: 7.75rem;
    color: #556b82;
    line-height: 2;  }