.sapUiContentPadding{
    background-color: white;
}
.headerItem{
    gap :10px;
    margin-left: 30%;
    
}
.vgheading{
    margin: 10px;
    padding: 5px;
    font-weight: bold;
    width: 100%;
}
.Vboxtab{
    margin: 5% 0%;
}

.sapUiContentPadding{

    background-color: white;

}




.vgheading{

    margin: 10px;

    padding: 5px;

    font-weight: bold;

    width: 100%;

}

.Vboxtab{

    margin: 5% 0%;

}

/* Enter your custom styles here */
 
.sapUiContentPadding{

    background-color: white;

}



.vgheading{

    margin: 10px;

    padding: 5px;

    font-weight: bold;

    width: 100%;

}

.Vboxtab{

    margin: 5% 0%;

}

.Vboxlab{

    margin: 1%;

}


/* .headerItem{

    gap :10px;

    margin-left: 30%;

} */

/* #_IDGenLabel7{

    margin-left: 25%;

} */

/* .flex{

    margin-top: 1%; margin-left: 1%;

     gap:8% ;

} */
 


.hboxv{

  margin-left: 5%;  

}

.flex{
    margin-left: 29px;
}
.headerItem{
    gap :10px;
}
.vflex{
    gap :20px; 
}
.headerItem {
    width: 100%;
}
 
.labelStyle {
    width: 100%;
    text-align: right;
    margin-top: 10%;
}


 
.inputStyle {
    width: 60%;
    height: auto;
}

