.customRadialChart {
    margin-top: 20%;
    width: 400px;  
    height: 400px;
    transform: scale(2.2); 
}
.timer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 60%;
}
.chart_label{
    margin-top: 40%;
    margin-left: -80%;
}

.statusText{
    font-weight: bold;
  }

.sapSuiteUiMicroChartNoData {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1d2d3e;
    border: 0px solid;
    width: 40%;
    height: 100%;
    min-height: inherit;
    min-width: inherit;
    font-weight: normal;
    box-sizing: border-box;
    font-size: 0.875rem;
  }